h2 {
    font-family: Karla;
    text-align: center;
}

#orderHistory {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: 600px;
 background-color: white;
    margin-left:150px;
}

#customerList {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: 600px;
	background-color: white;
    margin-left:150px;
}

#addCustomer {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: 600px;
    background-color: white;
    margin-left:150px;
}

#aboutUs {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: 600px;
	background-color: white;
    margin-left:150px;
    vertical-align: middle;
}

#network {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: 600px;
    background-color: white;
    margin-left:150px;
    vertical-align: middle;
}

#vibrate {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: 600px;
    background-color: white;
    margin-left:150px;
    vertical-align: middle;
}

#contacts {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: 600px;
	background-color: white;
    margin-left:150px;
    vertical-align: middle;
}

#camera {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: 600px;
	background-color: white;
    margin-left:150px;
    vertical-align: middle;
}

#location {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: 600px;
	background-color: white;
    margin-left:150px;
    vertical-align: middle;
}

#updateCustomerOrder{
            visibility: hidden;
        position: absolute;
        height: auto;
        width: 600px;
        background-color: white;
        margin-left:150px;
        vertical-align: middle;
    }


.wrapper {
	margin: auto;
	width: 900px;
}

.img-responsive {
	width:100%;
}

footer {
	text-align: center;
}

h1 {
    font-family: Karla;
    text-align: center;
}

p {
	font-family: Karla;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#displayTable a {
	text-decoration: 	none;
	color: black;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey; 
}