<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="edu.uab.business.studentapp" versionCode="1" version="0.0.1">
    <!--versionCode is optional and Android only -->
    <name>Module 1</name>
    <description>Mobile App Module 1</description>
    <author>Jared O'Neal</author>
    <preference name="phonegap-version" value="cli-7.0.1" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
    <plugin name="cordova-plugin-geolocation" spec="2.4.3" source="npm" />
    <plugin name="cordova-plugin-splashscreen" source="npm">
    <icon src="icon.png"/>
      <splash src="splash.png" />
    <splash src="splash.png" platform="android" qualifier="anydpi" />
<splash src="splash.png" platform="android" qualifier="mdpi" />
<splash src="splash.png" platform="android" qualifier="hdpi" />
<splash src="splash.png" platform="android" qualifier="xhdpi" />
<splash src="splash.png" platform="android" qualifier="fr-xhdpi" />
<splash src="splash.png" platform="android" qualifier="port-xxhdpi" />
<splash src="splash.png" platform="android" qualifier="land-xxhdpi" />
<splash src="splash.png" platform="android" qualifier="xxxhdpi" />
<icon src="icon.png" platform="winphone" />
<icon src="tileicon.png" platform="winphone" role="background" />
<icon platform="winphone" width="44"  height="44"  src="res/Square44x44Logo.scale-100.png" />
<icon platform="winphone" width="106" height="106" src="res/Square44x44Logo.scale-240.png" />
<icon platform="winphone" width="150" height="150" src="res/Square150x150Logo.scale-100.png" />
<icon platform="winphone" width="360" height="360" src="res/Square150x150Logo.scale-240.png" />
<icon platform="winphone" width="71"  height="71"  src="res/Square71x71Logo.scale-100.png" />
<icon platform="winphone" width="170" height="170" src="res/Square71x71Logo.scale-240.png" />
<icon platform="winphone" width="310" height="150" src="res/Wide310x150Logo.scale-100.png" />
<icon platform="winphone" width="744" height="360" src="res/Wide310x150Logo.scale-240.png" />
<icon platform="winphone" width="70"  height="70"  src="res/Square70x70Logo.scale-100.png" />
<icon platform="winphone" width="30"  height="30"  src="res/Square30x30Logo.scale-100.png" />
<icon platform="winphone" width="310" height="310" src="res/Square310x310Logo.scale-100.png" />
<icon platform="winphone" width="50"  height="50"  src="res/StoreLogo.scale-100.png" />
<icon platform="winphone" width="120" height="120" src="res/StoreLogo.scale-240.png" />
</widget>